

<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="index.css">
  <title>Spotify Recommender System</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
  <fieldset>
      <legend>Spotify Recommender System</legend>
      Song Name:
      <input name="song" type="text" required>
      <br><br>
      <input type="submit" name="submit_button" value="Add Song">
      <input type="submit" name="submit_button" value="Create Playlist" formnovalidate>
      <input type="submit" name="submit_button" value="Clear" formnovalidate>
  </fieldset>
</form>

<br>
<div class="result" align="center">
    {% if result %}
      <br> 
      <b>Songs:</b>
   		<p style="font-size:16px">{{ result }}</p>
    {% endif %}
</div>

<div class="songs_list" align="center">
  {% if songs_list %}
     <p style="font-size:16px">{{ songs_list }}</p>
  {% endif %}
</div>

</html>