<!-- Load icon library -->

<!DOCTYPE html>

<head>
  <title>Spotify Recommender System</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
  <fieldset>
      <legend>Input values:</legend>
      Song Name:
      <input name="Enter Song" type="text" required>
      <br>
        <input type="submit">
    </fieldset>
</form>

<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted number of bikes in use:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>


</html>